:root {
    --green:#009f18;
    --red: #ff4b4b;
    --light: #ffffff;
    --light2: #f5f5f5;
    --dark1: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.img-logo-screen {
  width: 50%;
  max-width: 250px;
  animation: 1s up;
}

.btn-1 {
  color: var(--light);
  background-color: var(--dark1);
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--light2);
}

@keyframes up {
  from {
    transform: translateY(110vh);
  }
  to {
    transform: translateY(0);
  }
}